* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    font-family: "Oswald", sans-serif;
    color: white;
    /* font-size: 18px; */
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    cursor: pointer;
}

/* HEADER */
header {
    padding: 26px 0;

    background: transparent;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);

    position: absolute;
    width: 100%;
    z-index: 1;

}

.header__content {
    width: 75%;
    max-width: 1200px;
    margin: 0 auto;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__content a {

    color: white;
}

.header__logo {
    font-size: 2rem;
    font-weight: 700;
}

nav li {
    display: inline;
    padding: 0 26px;
}

nav li a {
    font-size: 17px;
    transition: all 0.5s;
}

nav li:hover a {
    color: #e62b4a;
}

nav li.active a {
    color: #e62b4a;
}

/* CAROUSEL */
.carousel {
    background-image: url(../image_Meipaly/home_slider.jpg);
    background-size: cover;
    background-position: center;
    height: 700px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.carousel__content {
    text-align: center;
}

.carousel__content p {
    font-size: 25px;
}

.carousel__content h1 {
    font-size: 75px;
    line-height: 90px;
}

.carousel__content button {
    font-size: 16px;
    margin-top: 20px;
    padding: 15px 25px;
    cursor: pointer;

    background-color: #e62b4a;
    color: white;

    border: 1px solid #e62b4a;


    /* transition: button  2s linear 0s infinite;
    position: relative; */
}

/* .carousel__content button::after {
    position: absolute;
    content: "";
    top: 0;
    right:0;
    width: 5px;
    height: 0%;
    background-color: black;
    transition: height 1s ease;
}
.carousel__content button:hover::after {
    height: 100%;
} */


.carousel__content button:hover {
    background-color: #af2239;
}

.carousel__scroll i {
    margin-top: 50px;
    font-size: 30px;

    /* animation: < tên> < thời gian chạy> <số lần chạy> <deplay> < kiểu chạy> */
    animation: arrowdown 1s linear 0s infinite;
}

@keyframes arrowdown {
    from {
        opacity: 1;
        transform: translateY(0);
    }

    to {
        opacity: 0;
        transform: translateY(40px);
    }

}